.select-tag.MuiInputBase-root {
    padding: 0!important;
    background: #f8f2c6;
    border-radius: 32px;
    font-size: 15px;
}

.select-tag.MuiInputBase-root div {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

#select-tag-label {
    margin-top: -7px!important;
}

