@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(9deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-6deg); }
    100% { transform: rotate(0deg); }
}

.loadingImage {
    animation: tilt-shaking 0.21s infinite;
    position: absolute;
    /*top: -14px;*/
    left: -14px;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.animationContainer, .staticImageContainer {
    display: flex;
    align-items: center;
    max-width: 94px;
}

.staticImageContainer {
    position: absolute;
    left: 0;
}

.animationImageContainer {
    width: 44px;
    height: 44px;
    overflow: visible;
    position: relative;
}

.dataSyncInProgress {
    animation: pulse-animation 2s infinite;
    border-radius: 50%;
}

.dataSyncInProgress img {
    animation: tilt-shaking 0.21s infinite;
    left: -4px;
    /*top: -14px;*/
}

.staticLogoContainer {
    width: 44px;
    height: 44px;
    position: relative;
}