.MuiChip-root {
    height: 37px !important;
    margin: 5px !important;
}

.MuiChip-root span {
    color: #000;
}

.theme--dark .MuiChip-root span {
    color: #fff;
}

.theme--dark .aboutSwarmstr-button, .contributors-button {
    color: rgba(255,255,255,.77);
}

.aboutSwarmstr-button, .contributors-button {
    margin-top: -15px;
    margin-left: -8px;
}

.feedBrowse-button {
    text-transform: lowercase !important;
    font-size: 32px !important;
    padding: 0 !important;
    margin: 0;
    transform: translateY(-2px);
}

.landingPage-box {
    border: 1px solid rgb(240,230,140);
    padding: 1em;
    border-radius: 8px;
    background-color: rgba(255,238,81,.05);
    font-size: 32px;
    max-width: 420px;
    margin: 0 1em;
}

.landingPage-box .nav-button {
    border-radius: 18px!important;
    margin: 1.5em 0.5em;
    text-transform: none!important;
    font-size: 16px;
}

.landingPage-boxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infinite-scroll-component__outerdiv {
    width: 100%;
}