.guide-info {
    align-items: center;
    font-size: 13px !important;
    width: 100% !important;
    display: flex;
    justify-content: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.guide-info div {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guide-search, .guide-sort {
    width: 100%;
    display: flex;
    justify-content: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

input {
    border-radius: 3px;
    padding-left: 10px !important;
}

.theme--dark {
    color: rgba(255, 255, 255, .77);
}

.theme--dark input {
    /*border: 1px solid rgba(255, 255, 255, .3);*/
    border: none !important;
    color: #fff;
}

.theme--dark .MuiInputAdornment-root svg {
    color: rgba(255, 255, 255, .3);
}

.MuiInputBase-root {
    border-radius: 4px;
    padding: 8px 7px;
    overflow: hidden;
}

.theme--dark .MuiInputBase-root {
    border: 1px solid rgba(255, 255, 255, .3);
}

.theme--dark .guide-sort div {
    color: rgba(255, 255, 255, .77);
}

.list-container li:nth-child(2) {
    justify-content: center !important;
    background: #fff;
}

.theme--dark .list-container li:nth-child(2) {
    background: #000;
}