.navbar {
  background-color: #F0E68C;
}

.navbar-actions {
  color: #1B3D2F;
}

.logo {
  display: inline-flex;
}

.logo-text {
  margin-left: 5px;
}

.nostr-icon img {
  margin-left: -14px;
  margin-top: -4px;
}