body {
  margin: 0;
  font-family: 'Merriweather', 'Roboto', 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.App {
  text-align: center;
}

.theme--dark {
  background: #000000;
  color: #FFFFFF;
}

