body {
  margin: 0;
  font-family: 'Merriweather', 'Roboto', 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.App {
  text-align: center;
}

.theme--dark {
  background: #000000;
  color: #FFFFFF;
}

.theme--dark textarea {
  color: rgba(255,255,255,.77);
}

strong {
  background: rgba(240, 230, 140, 0.21);
  padding: 0.1em;
}

.Mui-selected {
  color: #ed6c02 !important;
}

.MuiTabs-indicator {
  background-color: #ed6c02 !important;
}

